@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}


a { color: #fff; } /* CSS link color */
a:hover { color: #fff; } /* CSS link color */
a { text-decoration: none; }

hr {
  width: 400px;
}

.containers {
  margin: 0px auto;
  width: 250px;
}

/* The point of this tutorial is here */
.form {
  display: flex;
  margin:0;

}

.search-field {
  width: 100%;
  padding: 5px 35px 5px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}


#submitbutton, #answertext
{ border: none;
  border-radius: 0px;
 }

#result {
  width:250px;
  background-color: white;
  color:black;
  text-align:left;
  margin: 0 auto;
  font-size:10pt;
}

#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#result ul li {
  padding: 2px;
}

.revealcol {
    font-weight: bold;
    color: #6AAA64;
}

.revealicon {
	font-size:30px;
}

.revealsiz {
    font-size:14px;
}

.howtogif {
  width: 250px;
  height: auto;
}

.buttonrad {
  border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    border-style: solid;
    background-color: #fff;
    border-color: #fff;
	width:145px;
}

.buttonmode{
  border-radius: 12px;
    font-weight: bold;
    font-size: 10px;
    color: black;
    border-style: solid;
    background-color: #fff;
    border-color: #fff;
	width:80px;
	margin-bottom:10px;
	margin-top:5px;
}

.bluebutton {
    font-weight: bold;
    font-size: 14px;
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  animation: flipmain 2s;
  animation-delay: calc(.075s * var(--i))
}

@keyframes flipmain {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #fff800 0%,
      #ff1361 29%,
      #44107a 67%,
      #231557 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear 3;
  display: inline-block;
  font-size: 16px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.waviy1 {
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, .2));
  font-size: 30px;
}

.waviy1 span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s;
  animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

#glt {
  /* margin-left:95px; */
  /* margin-right:15px;	 */
  font-size: 16px;
  font-weight:bold;
  //text-decoration: underline; 
  //color:#3a3a3c;
  //color:#dc143c;
  color:#FFF;
  font-family : Courier New;
  
}

#title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
  position: relative;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pzlhdr, #pzl {
  font-weight: bold;
  font-size: 11px;
  margin-right: 0px;
} 

#bbhdr {
  font-weight: bold;
  font-size: 11px;
  margin-left: 20px;
} 

#bb{
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
} 


.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#board {
  width: 350;
  margin: 0 auto;
  margin-top: 3px;
  /* background-image: url("pitch.jpg"); */
  background-position: center;
}

#boardfirst {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
}

#boardlast {
  height: 100px;
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#historyfirst {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
}

#historylast {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#clue {
  height: 60;
  width: 350;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
}

#clue-ball {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

.trydetail {
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  border: 1px solid #FFF;
  border-radius: 0px;
  margin-bottom: 10px;
 font-size:13px;
}

#stats {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 400;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 2;
  right: 2;
  top: 5px;
  text-align: center;
}

#stats-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

#answer {
  width: 330px;
  height: 0px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  color: red;
  font-size: 14px;
  /* font-family: Georgia, serif; */
  font-weight: bolder;
  justify-content: center;
  align-items: center; 
  font-family: 'Courier New', monospace;
}

.smallfont {
  font-size : 8px;
}

.headerimage {
  padding: 0;
  margin-top: 0;
}

.popanswer {
  animation: pop 0.3s linear 1;
}

.tile {
  /* Box */
  width: 25px;
  height: 25px;
  border: 3px solid #3a3a3c;
  margin: 2px;
  color: black;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}


.histile {
  /* Box */
  width: 20px;
  height: 20px;
  /* border: 2px solid #3a3a3c; */
  margin: 1px;
  color: black;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}


#try1,#try2, #try3, #try4, #try5, #try6 {
  /* Box */
  /* margin-left:95px; */
  /* margin-right:15px; */
  height: 20px;
  //border: 2px solid #3a3a3c;
  border: 2px solid #dc143c;
  font-size:13px;
  font-weight: bold;
  border-radius:5px;
  display: grid;
  align-items: center; 
}

div.scroll {
background-color: #fe1ggf;
/* width: 550px; */
height: 230px;
overflow: scroll;
padding: 15px;
}

.email {
  font-size: 30px;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 1.5s;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.5, 1.5);
  }

  50% {
    transform: scale(.7, .7);
  }

  75% {
    transform: scale(.35, .35);
  }

  100% {
    transform: scale(0, 0);
  }
}


.zoom-in-box {
  animation: zoom-in 0.25s;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.25, 1.25);
  }

  100% {
    transform: scale(1, 1);
  }
}


.animated {
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.poptile {
  animation: pop 0.3s linear 1;
  border: 3px solid  #4b4b4e;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}


.correct {
  border: 2px solid;
  background-color: #6AAA64;
  color: white;
  border-color: white;
}

.present {
  background-color: #C9B458;
  color: white;
  border-color: white;
}

.absent {
  border: 2px solid;
  background-color: #FF0000;
  color: white;
  border-color: white;
}

.keypresent {
  background-color: #FF6600;
  color: white;
  border-color: white;
}

.easyguess {
  background-color: black;
  color: black;
  border-color: black;
}

.keyboard-row {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.key-tile {
  width: 36px;
  height: 55px;
  margin: 1px;
  border: 1px solid lightgray;
  border-radius: 0%;
  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  width: 56px;
  height: 55px;
  margin: 1px;
  border: 1px solid lightgray;
  border-radius: 15%;
  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5%;
  z-index: 5;
  background-color: black;
  width: 400px;
  max-width: 100%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;

}

.modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 16px;
}

.modal-header .close-button {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.modal-body {
  padding: 10px 15px;
  text-align: left;
  color: lightgray;
  font-size: 12px;
  text-align:justify;
}

.hintmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5%;
  z-index: 5;
  background-color: black;
  width: 400px;
  max-width: 100%;
}

.hintmodal.active {
  transform: translate(-50%, -50%) scale(1);
}

.hintmodal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;

}

.hintmodal-header .hintmodal-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 16px;
}

.hintmodal-header .close-button {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.hintmodal-body {
  padding: 10px 15px;
  text-align: left;
  color: lightgray;
  font-size: 12px;
  text-align:justify;
}

#additionalhint {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align:center;
}


.Contents
{
  overflow-y: auto;
  display: block;
  position: relative;
  max-height: 80vh;
}

.summary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5%;
  z-index: 5;
  background-color: black;
  width: 400px;
  max-width: 100%;
}

.summary.active {
  transform: translate(-50%, -50%) scale(1);
}

.summary-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

}

.summary-header .summary-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 16px;
}

.summary-header .close-button {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.summary-body {
  padding: 10px 15px;
  text-align: left;
  color: white;
  font-size: 12px;
}

.summary-item {
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 12px;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: GrayText;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: GrayText;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay1.active {
  opacity: 1;
  pointer-events: all;
}


#overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: GrayText;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay2.active {
  opacity: 1;
  pointer-events: all;
}


#tsparticles canvas {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  pointer-events: none !important;
}

.shaketile {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (min-width: 400px) {
  .keyboard-row {
    width: 400px;
  }

  .key-tile {
    width: 36px;
  }

  .enter-key-tile {
    width: 56px;
  }
}


@media screen and (max-width: 399px) and (min-width: 350px) {

  .keyboard-row,
  #stats {
    width: 350px;
  }

  .key-tile {
    width: 31px;
    height: 50px;
  }

  .enter-key-tile {
    width: 48px;
    height: 50px;
  }

  #board,
  #clue {
    width: 350px;
  }

  hr {
    width: 350px;
  }

  #title {
    font-size: 25px;
  }
}

@media screen and (max-width: 349px) and (min-width: 310px) {

  .keyboard-row,
  #stats {
    width: 310px;
  }

  .key-tile {
    width: 26px;
    height: 50px;
  }

  .enter-key-tile {
    width: 46px;
    height: 50px;
  }

  #board,
  #clue
    {
    width: 275px;
  }

  hr {
    width: 310px;
  }

  #title {
    font-size: 20px;
  }
}